/*
 * AUTHOR: toydotgame
 * CREATED ON: 2024-01-11
 */

/* GENERIC */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	word-wrap: break-word;
}

html {
	min-height: 100vh;
}

body {
	background-image: url("/media/background.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	margin: 0 auto;
	max-width: 900px;
}

#navbar, #content, #aside {
	padding: 7px;
}

.card {
	margin-bottom: 14px;
	padding: 14px;
	background-color: #fff;
	border: 2px outset #0a0;
		border-radius: 7px;
}

.card:last-child {
	margin-bottom: 0;
}

a {
	color: #fa0;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
	border-radius: 7px;
}

hr {
	margin: 7px 0;
	border: 1px solid #fa0;
}

/* NAV */

#logo {
	display: block;
	width: 200px;
	margin: 0 auto;
		margin-top: 7px;
	border: 2px outset #fa0;
		border-radius: 14px;
}

#nav {
	text-align: center;
}

/* CONTENT */

#content {
	float: left;
	width: 70%;
}

/* IMG MODAL */

/* ASIDE*/

#aside {
	float: left;
	width: 30%;
}

/* RESPONSIVE*/

@media only screen and (max-width: 700px) {
	#logo {
		width: 100px;
	}

	#content, #aside {
		width: 100%;
	}
}
